{
    debug
}

calorize.test {
    log {
        output stdout
    }
    tls internal
    root * ./static-web
    file_server

    @api {
        path /auth/* /foods* /logs* /stats* /healthz
    }
    reverse_proxy @api calorize.test:8080
}
