services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8383:8383"
    environment:
      - DB_PATH=/data/calorize.db
    volumes:
      - db_data:/data
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "8080:80"
    depends_on:
      - api

volumes:
  db_data:
